<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <ul class="list-group list-inline">
                    <li class="list-inline-item">
                        <a href="{{ path('contact')}}">Contact</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('terms')}}">Mentions légales</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ path('privacy')}}">Politiques de confidentialités</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline float-md-right">
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>