{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Map{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.html.twig') %}

    <div class="container shadow">
        <div class="row">
            <div class="col-md-6 py-3">
                <a href="{{ path('spot_new') }}" class="btn btn-primary">Ajouter un spot</a>
                <a href="{{ path('spot_index') }}" class="btn btn-primary">mode Liste</a>
            </div>
            <div class="col-md-6 py-3">
                <form action="">
                    <input type="search" class="form-control" placeholder="Rechercher ....">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <div id="map" class="bg-success" style="height: calc(100vh - 60px); width: 100%"></div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}
{% endblock %}