.leaflet-popup-content-wrapper {
  border-radius: 5px;
  max-width: 310px;
  width: 300px;
  text-align: center;
  font-size: 1rem;
}

a.leaflet-bar-part.leaflet-bar-part-single {
  background: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}