.leaflet-popup-content-wrapper {
  border-radius: 5px;
  width: 350px;
  text-align: center;
  font-size: 1rem;
}

a.leaflet-bar-part.leaflet-bar-part-single {
  background: orange;
  color: white;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}