{% extends 'layouts/panel.twig' %}

{% block title %}Session index{% endblock %}

{% block sidebarLeft %}
    <div id="sidebarLeft" class="col-lg-4 col-xl-3 d-none d-lg-block my-3">
        <ul class="list-group list-group-flush list-unstyled">
            <li>
                <a href="{{ path('session_new') }}" class="btn btn-primary d-block">Créer une session</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1>Les prochaines sessions</h1>
        <div class="row">
        {% for session in sessions %}
            <div class="col-md-10 mb-3">
                {% include "partials/session-card.html.twig" %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
