//@import "~bootstrap/scss/bootstrap";
@import "bootstrap.min.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";

h3{
     margin: 1em 0;
}
header {
    padding: 154px 0 100px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 70px 0;
}