//@import "~bootstrap/scss/bootstrap";
@import "bootstrap.min.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";

//variables
$main-nav: 60px;
//variables

h3{
     margin: 1em 0;
}
header {
    padding: 154px 0 100px;
}

main {
  height: calc(100vh - #{$main-nav});
  overflow: auto;
}

.spot-card,
.user-card,
.session-card {
  height: 100%;
}
.spot-image a.favorite {
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 15px;
  top: auto;
  left: 15px;
  position: absolute;
}

#mainNav {
    height: $main-nav;
}
#sidebarLeft {
  //background-color: #18BC9C;
  //color: white;
  max-width: 330px;
}
#sidebarLeftMini {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #2C3E50;
  .item {
    color: white;
    font-size: 1.2em;
    width: 90px;
    height: 90px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: lightgrey;
    }
    &.active {
      background-color: #18BC9C;
      a{
        color: white;
      }
    }
    &:hover {
      transition: all .2s;
      background-color: #18BC9C;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}
.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C3E50;
  width: 100%;
  .item {
    color: white;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #ffffff;
    }
    &.active a{
      color: #18BC9C;
    }
  }
}

#map {
  min-height: 300px;
  height: calc(100vh - ( #{$main-nav}));
  &.spot-map {
    height: 450px;
  }
}


@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 70px 0;
}

footer a {
  color: #fff;
}