Email : {{ data.email }}<br>
De : {{ data.firstname }}
<br>
<br>
<br>

Sujet :<br>
{{ data.object }}

Message :<br>
{{ data.message }}

<p>Cet e-mail à été envoyé via le formulaire de contact de Seekriders.com</p>