{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Les spots{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.html.twig') %}

    <div class="jumbotron-fluid bg-primary text-white text-center py-5">
        <div class="row">
            <div class="col">
                <h1 class="">Spots</h1>
                <h2 class="h4">Quel spot skater aujourd'hui ?</h2>
            </div>
        </div>
    </div>
    <div class="container mt-5 ">
        <div class="row">
            <div class="col">
                <a href="{{ path('spot_new') }}" class="btn btn-primary mb-4">Ajouter un spot</a>
                <a href="#" class="btn btn-primary mb-4">Voir la carte</a>
            </div>
            <div class="col">
                <form action="">
                    <input type="search" class="form-control" placeholder="Rechercher ....">
                </form>
            </div>
        </div>

        <div class="row">
            {% for spot in pagination.data %}
                <div class="col-sm-6 col-md-3 mb-3">
                    {{ include('partials/spot-card.html.twig') }}
                </div>
            {% endfor %}
        </div>

        {{ pagination.display() }}

    </div>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}
{% endblock %}