{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Les spots{% endblock %}

{% block body %}
    <!-- Navigation -->
    {% include('partials/navbar.html.twig') %}

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="mt-2">Spots</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <a href="{{ path('spot_new') }}" class="btn btn-primary mb-4">Ajouter un spot</a>
                <a href="#" class="btn btn-primary mb-4">Voir la carte</a>
            </div>
            <div class="col">
                <form action="">
                    <input type="search" class="form-control" placeholder="Rechercher ....">
                </form>
            </div>
        </div>
        <div class="row">
            {% for spot in spots  %}
                <div class="col-sm-6 col-md-3 mb-3">
                    {{ include('partials/spot-card.html.twig') }}
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Footer -->
    {% include('partials/footer.html.twig') %}
{% endblock %}